<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
   
    <title>Отображение графа</title>
    <!-- Подключение библиотеки vis.js -->
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <style>
        body{
            background-color: white;
            font-size: 12px;
            font-family: 'Josefin Sans', sans-serif;
        }
        /* Стили для контейнера, в котором будет отображаться граф */
        #graph-container {
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1>Hierarchical Structure of Categories, Subcategories, and Worlds on the Website</h1>
    <div id="graph-container"></div>

    <script>
        // Создание объекта с данными графа
        const nodes = new vis.DataSet([
            {% for node_id, node_data in G.nodes.items %}
                { id: {{ node_id }}, label: "{{ node_data.name }}", shape: 'box', widthConstraint: { maximum: 200 } },
            {% endfor %}
        ]);
    
        const edges = new vis.DataSet([
            {% for edge in G.edges %}
                { from: {{ edge.0 }}, to: {{ edge.1 }} },
            {% endfor %}
        ]);
    
        const data = {
            nodes: nodes,
            edges: edges
        };
    
        // Опции для отображения графа
        const options = {
            layout: {
                hierarchical: {
                    direction: "UD",
                    sortMethod: "directed"
                }
            },
            nodes: {
                shape: 'box',
                color: {
                    background: 'white',
                    border: 'black'
                }
            }
        };
    
        // Создание экземпляра графа и его отображение
        const container = document.getElementById("graph-container");
        const network = new vis.Network(container, data, options);


        network.on("click", function(params) {
                var nodeId = params.nodes[0];
                var nodeName = nodes.get(nodeId).label;
                console.log(nodeName , ' ' ,nodeId )
                if (nodeName == undefined){
                    return;
                    }
                else{
                var goToPage = confirm("Перейти на страницу " + nodeName + "?");
                if (goToPage) {
                    var connectedNodes = network.getConnectedNodes(nodeId);

                    // Получение количества дочерних элементов
                    var numberOfChildren = connectedNodes.length;

                    // Вывод количества дочерних элементов в консоль
                    console.log("Количество дочерних элементов для узла " + nodeId + ": " + numberOfChildren);
                  
                    // Создание ссылки на страницу с использованием полного URL-адреса
                    var link = document.createElement('a');
                
                    link.appendChild(document.createTextNode("Перейти на страницу " + nodeName + "?"));
                    link.title = nodeName;
                    link.href =  "/" + nodeId + "/"; // Замените "/your_page_url/" на фактический URL вашей страницы
            
                    if (numberOfChildren == 1){
                        link.href =  "/page" + nodeId + "/"; // Замените "/your_page_url/" на фактический URL вашей страницы
                    }
                    link.target = "_self"; // Открывать ссылку в текущем окне или вкладке
                    link.click(); // Выполнить переход по ссылке
                
                }
            }
                
        });

    </script>
    
</body>
</html>
