<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />

<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<title>Страница с пожертвованиями</title>
<style>
    html{
        font-family: 'Josefin Sans', sans-serif;
    }
.block {
    width: 300px;
    height: 0;
    background-color: rgb(242, 242, 242);
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.show {
    height: 400px;
}

.qr-code {
    margin-top: 20px;
}
</style>
</head>
<body>

    
    <script async src="https://cdn.mixplat.ru/widget/v3/widget.js"></script>





<button onclick="toggleBlock(1)">Открыть блок 1</button>
<button onclick="toggleBlock(2)">Открыть блок 2</button>

<div id="block1" class="block">
    <h2>Блок 1</h2>
    <button id="mixplat_widget">Открыть в модальном окне</button>
  <script type="text/javascript">
   document.addEventListener('DOMContentLoaded', function(){
        let elem = document.getElementById('mixplat_widget');
        elem.addEventListener('click', function(){
           
            let options = {
                widget_key: '1becc19b-d3e8-422f-bb28-14ec9d94e66b',
                amount: 1000,  // 10 руб. 00 коп.
                description: 'Благотворительное пожертвование',
                user_email: 'email@mail.ru',
                recurrent_payment: 0
            }
            let M = new Mixplat(options);
            M.build();
            M.setSuccessCallback(function(o, i){
                console.log('success');
            });
            M.setFailCallback(function(o, i){
                console.log('fail');
            });
    
        });
    });
  </script>
</div>

<div id="block2" class="block">
    <h2>Поддержите нас</h2>
    <p>Вы можете пожертвовать криптовалюту, используя наш кошелек:</p>
    <p>Адрес кошелька: <span id="wallet-address">16QSakxunKjHuRg2nk5Sgzsx9yM4KgD5DA</span></p>
    <div class="qr-code">
        <img src="/static/pages/donation/qr_code.png" alt="QR-код" width="200" height="200">
    </div>
</div>

<script>
function toggleBlock(blockNumber) {
    var block1 = document.getElementById("block1");
    var block2 = document.getElementById("block2");

    if (blockNumber === 1) {
        block1.classList.toggle("show");
        block2.classList.remove("show");
    } else if (blockNumber === 2) {
        block1.classList.remove("show");
        block2.classList.toggle("show");
    }
}
</script>
</body>
</html>
