<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unity Page</title>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        #unityContainer {
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <div id="unityContainer">
        <iframe src="http://127.0.0.1:8080/"></iframe>
    </div>

    <script>
        // Если вы хотите открыть Unity на весь экран, установите параметры FullScreenWindow
        var iframe = document.querySelector('iframe');
        iframe.allow = 'fullscreen';

        // Можно также использовать API Fullscreen, чтобы включить полноэкранный режим:
         iframe.requestFullscreen();

        // Если вам нужно отключить полноэкранный режим, используйте:
        // document.exitFullscreen();
    </script>
</body>
</html>


